body {
    margin: 0;
    text-align: center;
    font-family: 'Karla', sans-serif;
}

button,
.button {
    border: none;
    background-color: #212121;
    color: white;
    margin: 1%;
}

.auth {
    padding: 0;
    background-color: #101224;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 700px;
}

 